Library
/proj/Temp
/proj/test2.exe
test2_Data
/proj/test_Data/Managed/UnityEngine.Analytics.dll
/proj/test_Data/Managed/UnityEngine.Networking.dll
/proj/test_Data/Managed/UnityEngine.xml
HexTileManager
obj
/Nowy folder/Zap_jump_climb_L.png
/Nowy folder/Zap_jump_climb_R.png
/proj/Assets/Standard Assets/2D/Scripts.meta
/proj/Assets/Standard Assets/CrossPlatformInput/Scripts/PlatformSpecific.meta
/proj/Assets/Standard Assets/Utility.meta
/proj/Assets/mp/Prefabs/Backgrounds/Far.meta
/proj/test_Data/Managed/Assembly-UnityScript.dll
/proj/test_crop.exe
/proj/test_crop_Data/Managed/Assembly-CSharp.dll
/proj/test_crop_Data/Managed/Assembly-UnityScript.dll
/proj/test_crop_Data/Managed/Mono.Security.dll
/proj/test_crop_Data/Managed/System.Core.dll
/proj/test_crop_Data/Managed/System.dll
/proj/test_crop_Data/Managed/UnityEngine.Analytics.dll
/proj/test_crop_Data/Managed/UnityEngine.Networking.dll
/proj/test_crop_Data/Managed/UnityEngine.UI.dll
/proj/test_crop_Data/Managed/UnityEngine.dll
/proj/test_crop_Data/Managed/UnityEngine.xml
/proj/test_crop_Data/Managed/mscorlib.dll
/proj/test_crop_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
/proj/test_crop_Data/Mono/etc/mono/1.0/machine.config
/proj/test_crop_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
/proj/test_crop_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
/proj/test_crop_Data/Mono/etc/mono/2.0/machine.config
/proj/test_crop_Data/Mono/etc/mono/2.0/settings.map
/proj/test_crop_Data/Mono/etc/mono/2.0/web.config
/proj/test_crop_Data/Mono/etc/mono/browscap.ini
/proj/test_crop_Data/Mono/etc/mono/config
/proj/test_crop_Data/Mono/etc/mono/mconfig/config.xml
/proj/test_crop_Data/Mono/mono.dll
/proj/test_crop_Data/Resources/unity default resources
/proj/test_crop_Data/Resources/unity_builtin_extra
/proj/test_crop_Data/mainData
/proj/test_crop_Data/output_log.txt
/proj/test_crop_Data/resources.assets
/proj/test_crop_Data/sharedassets0.assets
/proj/test_crop_Data/sharedassets0.resource
