Library
/proj/Temp
/proj/test2.exe
test2_Data
/proj/test_Data/Managed/UnityEngine.Analytics.dll
/proj/test_Data/Managed/UnityEngine.Networking.dll
/proj/test_Data/Managed/UnityEngine.xml
HexTileManager
obj
/Nowy folder/Zap_jump_climb_L.png
/Nowy folder/Zap_jump_climb_R.png
/proj/Assets/Standard Assets/2D/Scripts.meta
/proj/Assets/Standard Assets/CrossPlatformInput/Scripts/PlatformSpecific.meta
/proj/Assets/Standard Assets/Utility.meta
/proj/Assets/mp/Prefabs/Backgrounds/Far.meta
/proj/test_Data/Managed/Assembly-UnityScript.dll
